<!--There are a bunch of logos for retina displays that need to be recreated-->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>BlockFund - The only cryptocurrency resource</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <!-- <script src="static/cdn-cgi/apps/head/vAzQ3pO_LVF9Y_-CSxLP87NslSA.js"></script> CLOUDFLAIR SCRIPT-->    
    <link rel="apple-touch-icon" href="static/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="static/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" /> <!-- Automatic load bar based on page DOM -->
    <link href="static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="static/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="static/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Creates pretty boxes for selecting stuff from a list -->
    <link href="static/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Creates checkboxes as slider buttons like the iOS settings -->
    <!-- <link href="static/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" /> PLUGIN FOR JQUERY MAPS, currently not in use--> 
    <link href="static/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="static/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Used for creating dynamic cards  -->
    <link href="static/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="static/pages/css/pages.css" rel="stylesheet" type="text/css" />
</head>

<body class="fixed-header dashboard">
    <nav class="page-sidebar" data-pages="sidebar">
        <div class="sidebar-overlay-slide from-top" id="appMenu">
            <div class="row">
                <div class="col-xs-6 no-padding">
                    <a href="#" class="p-l-40"><img src="static/img/demo/social_app.svg" alt="socail">
</a>
                </div>
                <div class="col-xs-6 no-padding">
                    <a href="#" class="p-l-10"><img src="static/img/demo/email_app.svg" alt="socail">
</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 m-t-20 no-padding">
                    <a href="#" class="p-l-40"><img src="static/img/demo/calendar_app.svg" alt="socail">
</a>
                </div>
                <div class="col-xs-6 m-t-20 no-padding">
                    <a href="#" class="p-l-10"><img src="static/img/demo/add_more.svg" alt="socail">
</a>
                </div>
            </div>
        </div>
        <div class="sidebar-header">
            <!--Don't have retina yet so just using the single logo-->
            <!--<img src="static/img/logo.png" alt="logo" class="brand" data-src="static/img/logo.png" data-src-retina="static/img/logo_2x.png" width="78" height="22">-->
            <img src="static/img/logo.png" alt="logo" class="brand" data-src="static/img/logo.png" data-src-retina="static/img/logo.png" width="78" height="22">
            <div class="sidebar-header-controls">
                <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
                </button>
                <button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
                </button>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu-items">
                <li class="m-t-30 ">
                    <a href="index.html" class="detailed">
<span class="title">Dashboard</span>
<span class="details">12 New Updates</span>
</a>
                    <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
                </li>
                <li class="">
                    <a href="charts.html"><span class="title">Charts</span></a>
                    <span class="icon-thumbnail"><i class="pg-charts"></i></span>
                </li>
                <li class="">
                    <a href="charts.html"><span class="title">ICOs</span></a>
                    <span class="icon-thumbnail"><i class="fa fa-bitcoin"></i></span>
                </li>
                <li class="">
                    <a href="charts.html"><span class="title">Analyzer</span></a>
                    <span class="icon-thumbnail"><i class="fa fa-cubes"></i></span>
                </li>
                <li class="">
                    <a href="charts.html"><span class="title">Settings</span></a>
                    <span class="icon-thumbnail"><i class="pg-settings"></i></span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <div class="page-container ">
        <div class="header ">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
</a>
            <div class="">
                <div class="brand inline">
                    <!--Taking out until we get proper retina logos-->
                    <!--<img src="static/img/logo.png" alt="logo" data-src="static/img/logo.png" data-src-retina="static/img/logo_2x.png" width="120" >-->
                    <img src="static/img/logo.png" alt="logo" data-src="static/img/logo.png" data-src-retina="static/img/logo.png" width="120">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down">
                    <span class="semi-bold">Spencer</span> <span class="text-master">King</span>
                </div>

                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="thumbnail-wrapper d32 circular inline">
<img src="static/img/profiles/avatar.jpg" alt="" data-src="static/img/profiles/avatar.jpg" data-src-retina="static/img/profiles/avatar_small2x.jpg" width="32" height="32">
</span>
                    </button>


            </div>
        </div>
<!--END HEAD TEMPLATE-->